/CSharp/Examples/ConsoleMongo01/obj
/CSharp/Examples/ConsoleMongo01/bin
/CSharp/Examples/.vs
CSharp/Examples/.vs/Examples/FileContentIndex/0d2f9863-a96b-4caa-952c-c9cb0aa80a06.vsidx
CSharp/Examples/.vs/Examples/FileContentIndex/0d2f9863-a96b-4caa-952c-c9cb0aa80a06.vsidx
