@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Booking


<h2>Editing booking for @Model.CarModel between @Model.StartDate and @Model.EndDate</h2>
<hr />


<form method="post" asp-controller="Booking" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />


    <div class="mb-3">
        <label asp-for="StartDate" class="form-label"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger" />
    </div>
    <div class="mb-3">
        <label asp-for="EndDate" class="form-label"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger" />
    </div>
    <input type="submit" value="Update booking" class="btn btn-primary" />
</form>
<div>
    <a asp-controller="Booking" asp-action="Index">Back to bookings</a>
</div>